<div id="register_success_box" >
	<br/>
	<center><h3 class="page_title">Your password has been sent to your email.</h3></center>
	<br/>
	<div id="reset_success_btn">
		<% if current_user %>
		<%= link_to "Back to Home", news_path, :class=>"orange_button_link" %>
		<% else %>
		<%= link_to "Back to Home", root_path, :class=>"orange_button_link" %>
		<% end %>
	</div>
</div>