<div id="register_success_box" >
	<br/>
	<center><h3 class="page_title">Your password has been sent to your email.</h3></center>
	<br/>
	<div id="reset_success_btn">
		<%= link_to "Back to Home", root_path, :class=>"orange_button_link" %>
		<%= link_to "Enter Caregaroo", news_path, :class=>"orange_button_link" %>
	</div>
</div>