<div id="register_success_box" style="height:220px; width:550px; padding:0 20px">
	<br/>
	<h3 class="page_title">Please check your <%= @email %> inbox for an email from Caregaroo containing your password reset instructions. if you do not receive the email check your spam folder.</h3>
	<br/>
	<div id="reset_success_btn">
		<% if current_user %>
		<%= link_to "Back to Home", news_path, :class=>"orange_button_link" %>
		<% else %>
		<%= link_to "Back to Home", root_path, :class=>"orange_button_link" %>
		<% end %>
	</div>
</div>