<p>The Caregaroo Team</p>

<p style="background-color:#F47D29;padding:10px;text-align:center; width:100%"><%= link_to "Visit your network on Caregaroo", news_url, :style => "text-decoration: none" %></p>

<p>You were sent this email because you registered on <%= link_to "www.caregaroo.com", root_url, :style => "text-decoration: none" %>. If you don’t want to receive these emails from Caregaroo in the future please click
<%= link_to "unsubscribe", unsubscribe_url(:e => @recipient_email, :token => @token), :style => "text-decoration: none" %>.</p>
<p style="text-align:center; width:100%">© 2011 Azra Ventures Inc.</p>
<p style="text-align:center; width:100%"><%= link_to "Learn more about Caregaroo", root_url, :style => "text-decoration: none" %></p>