<p>Please join me on caregaroo, a secure private network to share news, coordinate activities and say thanks to those who help care for loved ones.</p>

<h2 style="width:100%;text-align:center;"><%= link_to "Join #{@sender.first_name} #{@sender.last_name} on Caregaroo", signup_with_token_url(@invitation.token) %></h2>

<%= render "footer_invite" %>

