<p>Please join me on caregaroo, a secure private network to share news, coordinate activities and say thanks to those who help care for loved ones.</p>

<p style="background-color:#F47D29;padding:10px;text-align:center;width:100%;font-size:16px"><%= link_to "Join #{@sender.first_name} #{@sender.last_name} on Caregaroo", signup_with_token_url(@invitation.token), :style => "text-decoration:none;color:white;" %></p>

<%= render "footer_invite" %>

