<p>Dear <%=h @user.first_name %>,</p>

<p>Please use following link to reset your password.</p>

<p><%= edit_password_reset_url(@user.password_reset_token) %></p>

<p>Questions? Need help? Email us support@caregaroo.com</p>

