<h3><%= @pilot.first_name%> <%= @pilot.last_name%>,</h3>

<p>You recently signed up for Caregaroo. To complete signup. please click this link:</p>

<p><%= link_to "Sign up", signup_with_token_url(@pilot.token) %></p>

<p>or, you can copy and paste this link into your browser.</p>

<p>Thank you,<br/>
The Caregaroo Team</p>

