Please join me on caregaroo, a secure private network to share news, coordinate activities and say thanks to those who help care for loved ones.

<%= link_to "Join #{@inviter.first_name} #{@inviter.last_name} on Caregaroo", signup_with_token_url(@pilot.token) %>

You were sent this by Caregaroo because someone provided your email address.
© 2011 Azra Ventures Inc. <a href="http://www.caregaroo.com">Learn more about Caregaroo</a>