<table style="border: 1px solid #DDD; width: 620px; padding: 10px;">
	<tr style="padding-bottom: 26px;display: block;">
		<td style="width: 80px; font-size: 14px; color: #666;">When</td>
		<td style="font-size: 14px;"><%= @event.start_at %></td>
	</tr>
	<tr style="padding-bottom: 26px;display: block;">
		<td style="width: 80px; font-size: 14px; color: #666;">Calendar</td>
		<td style="font-size: 14px;"><a href="http://caregaroo.com/news"><%= @event.network.name %></a></td>
	</tr>
	<tr style="padding-bottom: 26px;display: block;">
		<td style="width: 80px; font-size: 14px; color: #666;">Who</td>
		<td style="font-size: 14px;"><%= @who %></td>
	</tr>
</table>
<div style="background: color: #999; background-color: #EEE; width: 600px; padding: 10px;">
	<p>Reminder from <a href="http://caregaroo.com/news">Caregaroo</a></p>
	<p>You are receiving this reminder because you set a reminder for events on <a href="http://caregaroo.com/events">Caregaroo</a></p>
	<p>You can change your reminder settings for events on your <a href="http://caregaroo.com/profile/edit">Edit Profile</a> page.</p>
</div>