<p>When<p>
<p><%= @event.start_at %></p>

<p>Calendar</p>
<p><%= @event.network.name %></p>

<p>Who</p>
<p><%= @who %></p>

<div class="footer">
	<p>Reminder from <a href="http://caregaroo.com/news">Caregaroo</a></p>
	<p>You are receiving this reminder because you set a reminder for events on <a href="http://caregaroo.com/events">Caregaroo</a></p>
	<p>You can change your reminder settings for events on your <a href="http://caregaroo.com/profile/edit">Edit Profile</a> page.</p>
</div>