<table style="border: 1px solid #EEE; width: 620px; padding: 10px;">
	<tr style="font-size: 17px; font-weight: bold; padding-bottom: 20px; display: block;"><td colspan="2"><%= @event.name %></td></tr> 
	<tr style="padding-bottom: 20px;display: block;">
		<td style="width: 80px; font-size: 14px; color: #666;">When</td>
		<td style="font-size: 14px;"><%= @event.start_at %></td>
	</tr>
	<tr style="padding-bottom: 20px;display: block;">
		<td style="width: 80px; font-size: 14px; color: #666;">Calendar</td>
		<td style="font-size: 14px;"><a href="http://caregaroo.com/news"><%= @event.network.name %></a></td>
	</tr>
	<tr style="padding-bottom: 20px;display: block;">
		<td style="width: 80px; font-size: 14px; color: #666;">Who</td>
		<td style="font-size: 14px;"><%= @who %></td>
	</tr>
</table>
<table style="border: 1px solid #EEE; background-color: #EEE; width: 620px; padding: 10px;">
	<tr><td>Reminder from <a href="http://caregaroo.com/news">Caregaroo</a></td><tr>
	<tr><td>You are receiving this reminder because you set a reminder for events on <a href="http://caregaroo.com/events">Caregaroo</a> calendar.</td><tr>
	<tr><td>You can change your reminder settings for events on your <a href="http://caregaroo.com/profile/edit">Edit Profile</a> page.</td><tr>
</table>