<p>Hello <%= @user.first_name %></p>

<p>Congratulations on creating your Caregaroo account. You can now connect with members of <%= @user.network.network_for_who %>’s network. Here are some suggestions for what you can do next:</p>

<ol style="font-weight: bold">
<li>Invite caregivers, friends and family to join the network</li>
<li>Share daily updates, news and messages of support</li>
<li>update your profile so others can contact you</li>
</ol>

<a href="https://caregaroo.zendesk.com/forums">Learn more …</a>

<%= render 'footer' %>