<div id="jqt">
    <div id="journal">
      <h1> Journal Page Stub</h1>  
    </div>
    <div id="calendar" class="current">
        <div>
          <ul id="gc-nav">
            <li><a href="#journal">Journal</a></li>
            <li><a href="#calendar">Calendar</a></li>
            <li><a href="#profile">Profile</a></li>
            <li><a href="#members">Members</a></li>
          </ul>
        </div>
        <div id="calendardisplay" class="above-bottom-tabbar">
          <ul>
            <% @current_user.network.events.each do |e| %>
            <li><time datetime='<%= e.start_at.strftime("%Y-%m-%dT%H:%MZ") %>'><%= e.name %></time></li>
            <% end %>
          </ul>
        </div>
    </div>
    <div id="profile">
      <h1> Profile Page Stub</h1>  
    </div>
    <div id="members">
      <h1> Members Page Stub</h1>  
    </div>
</div>
<div id="other">
    <div class="tabbar">
        <ul>
            <li class="four"><a href="#journal">Journal</a></li>
            <li class="four current"><a href="#calendar">Calendar</a></li>
            <li class="four"><a href="#profile">Profile</a></li>
            <li class="four"><a href="#members">Members</a></li>
        </ul>
    </div>
</div>
