<div class="header">
	<div class="grid">
		<h1 class="logo hidetext">Caregaroo</h1>

		<div class="right clear">
			<h2 class="slogan">Care better, together</h2>
			<p class="text">Sign up <em>free</em> for a 1 year subscription to <strong class="highlight">Caregaroo</strong>, and get the support you need from family & friends.</p>
		</div>

		<div class="right clear">
			<form action="#" method="post">
				<input type="text" name="email" placeholder="Enter your email address">
				<button type="submit" class="btn-warning"><strong>Sign up for Free!</strong></button>
			</form>
		</div>
	</div>
</div>

<div class="bar">
	<p class="grid">Enjoy these awesome new features:</p>
</div>

<div class="features">
	<div class="grid">
		<div class="feature left">
			<span class="icon icon-feed"></span>
			<strong class="highlight">News feed</strong><br>to share latest updates
		</div>

		<div class="feature right">
			<span class="icon icon-messaging"></span>
			<strong class="highlight">Private messaging</strong><br>for your family and friends
		</div>
		
		<div class="feature left">
			<span class="icon icon-calendar"></span>
			<strong class="highlight">Calendar</strong><br>to schedule caregiving tasks and get support
		</div>
		
		<div class="feature right">
			<span class="icon icon-photo"></span>
			<strong class="highlight">Photo sharing</strong><br>to relive memories
		</div>
	</div>

	<div class="clear"></div>
</div>

<div class="footer grid">
	<div class="logo hidetext">Caregaroo</div>

	<div class="address">
		<p>Copyright 2012, Azra Ventures,</p>
		<p>All Rights Reserved | info@caregaroo.com</p>
	</div>

	<div class="form right">
		<form action="#" method="post">
			<input type="text" name="email" placeholder="Enter your email address">
			<button type="submit" class="btn-warning"><strong>Sign up for Free!</strong></button>
		</form>
	</div>
</div>