<div class="page-header">
	<h1>Dashboard</h1>
</div>


<!-- <ul class="breadcrumb">
	<li><a href="/admin/">Inicial</a><span class="divider">/</span></li>
	<li><a href="/admin/establishment/list">Baladas</a><span class="divider">/</span></li>
	<li class="active">Listagem</li>
</ul> -->