<div id="other">
  <div class="tabbar">
    <ul>
      <li class="four"><%= link_to "Journal", "/#journal" %></li>
      <li class="four"><a href="/#calendar">Calendar</a></li>
      <li class="four"><a href="/#profile">Profile</a></li>
      <li class="four"><a href="/#members">Members</a></li>
    </ul>
  </div>
</div>
