
<div class="row">
	 
	<div class = "span6">
		<img src="assets/Caring_for_a_loved_one.png" alt="coordinate care" />
	</div>
		
	<div class = "span5">
		<h2>With <strong>Caregaroo</strong> you can share news and coordinate care for loved ones in a safe private space.
		</h2>
		<br/>
		<div>
			<form class="well">
				<span class="help-block">Create your free account</span>
				<input type="text" class="input-large" placeholder="Who are you caring for?">
				<input type="text" class="input-large" placeholder="Your email address?">
				<input type="password" class="input-large" placeholder="Choose your password">
				<label class="control-label" for ="register_submit">Need more information?</label>
					<button id="register_submit" type="submit" class="btn">Start Now</button>
			</form>
		</div>
	</div>
	
	<div class="span6">
	<h2>Are you caring for a loved one with health issues?</h2> 
	</div>
	<div class="span12">
	<p>Is it a constant challenge to keep friends and
family informed? Do you wish you could enlist more help from other members of the care circle? <font class="blueFont">Caregaroo</font>
provides simple-to-use online tools to help you communicate and coordinate care for your loved ones.</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<div><img src="img/feature3.jpg" alt="coordinate care" />	</div>
		<div> <h2>Coordinate Care</h2> <p>List activities and ask members of the care
		community volunteer to get things done. Need a ride to a medical appointment or help with meal
		preparation? With <font class="blueFont">Caregaroo</font>, it is easy to communicate the support you need and organize contributors from the community towards improving your loved one’s quality of life.</p>
		</div>
	</div>
	<div class="span4">
		<div >	<img src="img/feature2.jpg" alt="full deeplink support" /> </div>
		<div> <h2>Share News</h2> <p>Create an online community around your
		loved one and invite friends, family and other members of the care community to join. Exchange news and share updates on health, upcoming needs and daily
		activities. With <font class="blueFont">Caregaroo</font> it is now easy to keep everyone informed.</p> 
		</div>
	</div>
	<div class="span4">
		<div><img src="img/feature4.jpg" alt="user editable playlist" /></div>
		<div><h2>Works with Email</h2> <p>Since it’s not
		possible to stay logged into <font class="blueFont">Caregaroo</font> around the clock, you can choose to be notified via email when
		something important happens in your network. You can also send updates and respond to messages directly
		from your email. Can’t find that old email you are looking for? No problem, <font class="blueFont">Caregaroo</font> makes it easy to
		find and track all communications.</p>
		 </div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="span8">
		<div id="marketingVideo">
			<iframe id="ytvideo" class="youtube-player" width="498" height="310" 
			src="http://www.youtube.com/embed/zzq2e8Fbuxk?html5=1&rel=0&autoplay=0&enablejsapi=1&wmode=transparent&showinfo=0" wmode="Opaque"
			frameborder="0" allowfullscreen="true"></iframe>
		</div>
	</div>
	<div class="span3 offset1">
		<h2>Make caring easy with Caregaroo</h2><br/>
		<button class="btn" onclick="">Sign-In</button>
	</div>
</div>
