<div class="row">
	<div style="width:355px; margin:0 auto;">
<ul class="nav nav-pills">
  <li class="active">
    <a href="#news" data-toggle="tab">News Stream</a>
  </li>
  <li><a href="#calendar" data-toggle="tab">Calendar</a></li>
  <li><a href="#thanks" data-toggle="tab">Thanks</a></li>
</ul>
</div>
</div>

<div class="span12 tab-content" id="productTab">
	<div class="tab-pane active" id="news">
		<div style="text-align:center"><%= image_tag "CareNewsStream.png", :alt => "News Stream" %></div>	
		<div class="span10 offset1">
			<p class="title">News Stream</p>
			With <font class="blueFont">Caregaroo</font> you can post real-time status updates about your loved one. With just one post everyone can be informed at once. Ask friends, family and professional care providers to post news updates on how your loved one is doing after each visit. With News Stream you can easily stay connected.
		</div>
	</div>
	<div class="tab-pane" id="calendar">
		<div style="text-align:center"><%= image_tag "careCalendar.png", :alt => "Calendar" %></div>	
		<div class="span10 offset1">
			<p class="title">Calendar</p>
			Post all the tasks you need help with and invite members of your care circle to volunteer their help. You would be surprised how willing people are to help when there is an easy and convenient way to	coordinate their time and contribution.
		</div>
	</div>
	<div class="tab-pane" id="contributions">
		<div style="text-align:center"><%= image_tag "Contributions.png", :alt => "Contributions" %></div>	
		<div class="span10 offset1">
			<p class="title">Contributions</p>
			With <font class="blueFont">Caregaroo</font>, all relevant member profile information are tracked and viewable by all. This information includes members' contact information, activities, tasks performed as well as upcoming commitments. At a glance everyone can see the extent and nature of the contributions that each member has been providing throughout time.
		</div>
	</div>
	<div class="tab-pane" id="thanks">
		<div style="text-align:center"><%= image_tag "ThankCaregivers.png", :alt => "Thanks" %></div>	
		<div class="span10 offset1">
			<p class="title">Thanks</p>
			Say "<span style="font-style:italic">Thanks</span>!" to those who make a significant contribution and let everyone know how much you value their help. Express your appreciation publically and frequently, to keep everyone engaged in the process of care giving. All the <span style="font-style:italic">Thanks</span> messages ever received by each member is a testament to all the contribution they have made over time.
		</div>
	</div>
</div>
