<div id="features" class="grid_14 clearfix">
<div id="productFeature1" class="feature grid_14">
	<div class="featureRight grid_6">
		<a href="/img/screenshot_news.jpg" onclick="_gaq.push(['_trackEvent', 'Links', 'Screenshot - News Stream', 'Screenshot - News Stream']);" class="single_image" id="screenShotNewsStream"><img class="productImage" src="img/HomecareNewsStream.jpg" alt="New Stream" /> </a>
	</div>
	<div class="featureDetails withIcon"> 
	<h2>News Stream</h2> 
	<p>With <font class="blueFont">Caregaroo</font> you can post real-time status updates about your loved one. With just one post everyone can be informed at once. 
		Ask friends, family and professional care providers to post news updates on how your loved one is doing 
		after each visit. With News Stream you can easily stay connected.</p> 
	</div>
</div>
<div id="productFeature2" class="feature grid_14">
<div class="featureLeft grid_6">
	<a href="/img/screenshot_calendar.jpg" onclick="_gaq.push(['_trackEvent', 'Links', 'Screenshot - Calendar', 'Screenshot - Calendar']);" class="single_image" id="screenShotCalendar"><img class="productImage" src="img/HomecareCalendar.jpg" alt="Homecare Calendar" /></a>
</div>
<div class="featureDetails"> 
	<h2>Calendar</h2> 
	<p>Post all the tasks you need help with and invite members of your care circle to volunteer their help.
		You would be surprised how willing people are to help when there is an easy and convenient way to 
		coordinate their time and contribution.	</p>
</div>
</div>
<div id="productFeature3" class="feature grid_14">
	<div class="featureRight grid_6">
		<a href="/img/screenshot_tasks.jpg" onclick="_gaq.push(['_trackEvent', 'Links', 'Screenshot - Vital Info', 'Screenshot - Vital Info']);" class="single_image" id="screenShotTasks"><img class="productImage" src="img/HomecareVitalInformation.jpg" alt="Vital Information" /></a>
	</div>
	<div class="featureDetails withIcon"> 
	<h2>Contributions</h2> 
	<p>With <font class="blueFont">Caregaroo</font>, all relevant member profile information are tracked and viewable by all. This information includes members' contact information, activities, tasks performed as well as upcoming commitments. At a glance everyone can see the extent and nature of the contributions that each member has been providing throughout time.</p>
	</div>
</div>
<div id="productFeature4" class="feature grid_14">
	<div class="featureLeft grid_6">
		<a href="/img/screenshot_thanks.jpg" onclick="_gaq.push(['_trackEvent', 'Links', 'Screenshot - Thanks', 'Screenshot - Thanks']);" class="single_image" id="screenShotThanks"><img class="productImage" src="img/HomecareThanks.jpg" alt="Thanks Message" /> </a>
</div>
<div class="featureDetails"> 
	<h2>Thanks</h2> 
	<p>Saying "<span style="font-style:italic">Thanks</span>!" to those who make a significant contribution
		. Let everyone know how much you value their help. Express your appreciation publically and frequently,
		to keep everyone engaged in the process of care giving. All the <span style="font-style:italic">Thanks</span>
		messages ever received by each member is a testament to all the contribution they have made over time.</p> 
</div>
</div>
</div>
