<td class="event_name">&nbsp;&nbsp;<%= link_to truncate(event.name), event %>&nbsp;&nbsp;</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "", cancel_event_url(event), method: :delete, remote: true, confirm: "Delete event: are you sure?", class: "icon-remove", title: "delete" %></td>
