<tr class="events_list_date_row">
  <td colspan=4 class="event_list_date"><%= @today.strftime("%a %e %b %Y") %></td><td></td><td></td>
</tr>
<tr class="events_list_row">
  <td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;No events today</td>
  <td colspan="3"></td>
</tr>
