<div class="notice">
  <div class="notice-body"> 
    <img src="/purr/info.png" alt="" />
    <h3><%= @message %></h3>
    <p><%= @event.name %><br/>
    <%= @event.datestring %><br/>
    <%= @event.timestring %></p>
  </div>
  <div class="notice-bottom"></div>
</div>