<h1>Invitation Sent!</h1>

<p>Within a few minutes, your member will receive an email with instructions for setting their password and signing into this web site.</p>

<p><%= link_to "Back to Home", root_path %></p>
