var el = $('#downloadebook');

<% if @pilot_signup.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  <% @pilot_signup.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>	
	var fnMessage = 'Enter your first name'
	var lnMessage = 'Enter your last name'
	var emailMessage = 'Enter your email address'
	$('.signup_email').val(emailMessage)
	$('.signup_first_name').val(fnMessage)
	$('.signup_last_name').val(lnMessage)

	<% if @pilot_signup.signup_type == 'demo' %>
		$('#demo').html('<form id="demoSuccess" method="post" action="#"><p>Thank you!<br/>We will contact you to arrange demo.</p><input type="submit" value="Okay" name="okay"> </form>')
	<% elsif @pilot_signup.signup_type == 'pilot' %>	
		$('#pilot').html('<form id="pilotSuccess" method="post" action="#"><p>Thank you!<br/>We will contact you to arrange demo.</p><input type="submit" value="Okay" name="okay"> </form>')
	<% elsif @pilot_signup.signup_type == 'ebook' %>	
		$.fancybox.close()
	<% end %>
	
<% end %>