var el = $('#downloadebook');

<% if @pilot_signup.errors.any? %>

  // Create a list of errors
  var errors = $('<ul />');

  <% @pilot_signup.errors.full_messages.each do |error| %>
    errors.append('<li><%= escape_javascript( error ) %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>	

	<% if @pilot_signup.signup_type == 'quick_signup' %>
		<% if params[:quick_signup] == 'top' %>
			$('.top_signup_email').val('THANK YOU FOR PARTICIPATING')
		<% elsif params[:quick_signup] == 'bottom' %>
			$('.bottom_signup_email').val('THANK YOU FOR PARTICIPATING')
		<% else %>
			$('#demo').html('<form id="demoSuccess" method="post" action="#"><p>Thank you!<br/>We will contact you to arrange a demo.</p><input type="submit" value="Okay" name="okay"> </form>')
		<% end %>	
	<% elsif @pilot_signup.signup_type == 'pilot' %>	
		$('#pilot').html('<form id="pilotsuccess_form" method="post" action="#"><p>Thank you!<br/>We will contact you when the pilot program begins.</p><input type="submit" value="Okay" name="okay"> </form>')
	<% elsif @pilot_signup.signup_type == 'ebook' %>	
		$.fancybox.close()
		window.location = 'download/ebook'
	<% end %>
	
<% end %>
