//#invite_button{  height:20px;  width:90px;}
#members{  list-style:none; margin:10px;}
.member{margin-top:10px; border-bottom: 1px solid #CCCCCC; height:50px; }
.member_info{  padding-left:58px;  padding-bottom:10px;}
.role_line {margin-top:6px;}
