#news h2 {
  font-size: 16px;
  margin-bottom: 2px;
}

#news h2 .comments {
  font-size: 12px;
  font-weight: normal;
}

#news .created_at {
  font-style: italic;
  color: #333;
}

#news
{
  display:block;
}

#comments {
  display:block;
  font-size: 12px;
  width: 385px;
  margin-left: 55px;
}

.comment {
  background-color: #ebebeb;
  border-bottom: solid 1px #ccc;
  margin: 5px 0;
  padding: 8px;
}

.comment:last-child {
  border-bottom: none;
}

.comment_content
{
  padding-left:58px;
}

#new_comment_section
{
  
   margin-left: 55px;
   width: 370px;
}
#text_background{ background-color: #ebebeb;  padding: 8px ;   width: 370px; margin-bottom:6px;}

#reply_button
{
  margin-left:324px;
}

#update_button
{
  margin-left:380px;
}
.orange_button{
  height:20px;
  width:60px;
  background-color:#f47d29;
  color:#ffffff;
  border:0px;
}
.time_text
{
  font-weight:normal;
  font-size:11px;
  color:#666666;
}
