#news { display:block; padding-top:10px; }
.comments { display:block; font-size: 12px; width: 385px; margin-left: 55px; }
.comment {  background-color: #ebebeb;  border-bottom: solid 1px #ccc;  margin: 5px 0; padding: 8px; }
.comment:last-child { border-bottom: none; }
.comment_content { padding-left:58px;}
.comment_content p { margin:0; padding:0; }
.comment_links { float: left; list-style: none; margin: 0; padding: 0; width: 80px; }
.new_comment_section { display:block; padding-bottom:5px; margin-left:55px }
#new_comment_section { margin-left: 55px; width: 370px;}
.text_background{ background-color: #ebebeb;  padding: 8px ;   width: 370px; margin-bottom:6px;}
#reply_button { margin-left:324px; }
#update_button { margin-left:380px; }
.comment_textarea { padding: 5px; width: 358px; height:15px; }
.post_textarea { padding: 5px; width: 430px; height:15px; }
.post_content_area { width: 380px; }
