#reset_pw_box{width:488px; height:200px; background:#FFF; border:solid 1px #ccc; padding:20px; margin-top: 70px; margin-left:auto; margin-right:auto;}
#reset_pw_btn{margin-top:15px; margin-right: 20px; width:120px; display:block; float:left;}
#reset_cancel_btn{margin-top:15px; height:20px;width:60px; display:block; float:left;}
