.right_text {font-size:12px; position:absolute; margin-left:100px; float:left;}
.right_text_2 {font-size:12px; position:absolute; margin-left:170px; float:left;}

td{vertical-align:top;padding-bottom:10px;}
td.left { width: 100px;}
td.mid { width: 200px;}
td.ext { width: 30px; }


.left_text {font-size:12px; float:left;}
.sub_header{ margin-top:15px; border-bottom: 1px solid #ccc; padding-bottom: 5px; }
.sub_header_tall{ @extend .sub_header; margin-bottom: 20px; }
#save_updates_button{float:right;}
.profile_user_pic { height:44px; width:50px; float:left; padding-right:5px;}
.row_space{height:30px;}
.forgot_pw_link{text-decoration: none; margin-left:10px;}
#profile_sub_menu { margin-top:20px; border-bottom: 1px solid #ccc; height:26px;}
#profile_sub_menu ul { list-style:none; text-align:center; }
#profile_sub_menu li { background-color:#AAAAAA; float:left; width:80px; margin-right:1px; }
#profile_sub_menu .selected{ background-color:#F47D29;  }
.profile_content { margin-top:10px; }
