.right_text {font-size:12px; position:absolute; margin-left:100px; float:left;}
.right_text_2 {font-size:12px; position:absolute; margin-left:180px; float:left;}
.left_text {font-size:12px; float:left;}
.sub_header{margin-bottom:0px;}
#save_updates_button{width:120px; height:20px; float:right;}
.profile_user_pic { height:44px; width:50px; float:left; margin-top:5px; padding-right:5px;}
.row_space{height:36px;}
.forgot_pw_link{text-decoration: none; margin-left:10px;}
