// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup_box{width:468px;background:#FFF; border-left:solid 1px #CCC; border-right:solid 1px #CCC;margin:auto; padding:30px;}
.note_text{font-size:10px; }
#signup_next_btn{margin-left:166px;}
#signup_success_box{width:488px; height:140px; background:#FFF; border:solid 1px #ccc; margin-top: 70px; margin-left:auto; margin-right:auto;}
#signup_success_btn{margin-left:340px;}