<%= form_for Post.new do |f| %>
  <div id="new_news_wrapper" class="field">
  	<div class="col_a">
  		<%= image_tag (current_user.avatar_url(:thumb).to_s or "photo_place_holder.png"), :alt => current_user.try(:first_name), :height => "50", :width => "50" %>
 	</div>
    <div class="col_b">
		
			<%= f.text_area :content, :placeholder => "Share news about #{current_user.network.network_name}", :class => "post_textarea", :required => "required", :cols => "", :style => ""  %>
		
		<div class="recipients_box">
			<select class="all_recipients" name="recipient_list" data-placeholder="Add Recipient +" style="width:365px;" multiple="" tabindex="3">
				<option value="0" selected="1">EVERYONE</option>
				<option value="2">aisdjsaijd asid </option>
				<option value="3">toreoitreot et  </option>
				<option value="4">lfkhfglkhlfgkh fl</option>
				<option value="5">pgopdfgopdfgpo  </option>
				<option value="6">dfjhg dfgl dfg  </option>
				<option value="7">nianimainainiamia</option>
				<option value="8">trigtrig trig tri</option>
			</select>
			<a style="color:red; text-decoration:line-through;" href="http://www.youtube.com/watch?v=MrTsuvykUZk" title="hehehe" target="_blank">Who is everyone?</a>
		</div>
		<div class="actions">
          <%= f.submit "Update", :class =>"form_button", :id=>"news_update_button" %>
        </div>
    </div>
    <div class="clear"></div>
  </div>
  <hr color="#cccccc"/>
<% end %>

<script type="text/javascript">
var jAllRecipients
$(document).ready(function(){
	jAllRecipients = $('select.all_recipients')
	jAllRecipients.chosen({no_results_text: "Nobody with this name"})
})
// XXX
$('#news_update_button').click(function(ev){
	if( !jAllRecipients.val() || !jAllRecipients.val().length ){
		alert("choose at least one recipient")
		ev.preventDefault()
	}
})
</script>