<%= form_for Post.new do |f| %>
  <div class="field">
    <%= f.text_area :content, :placeholder => "Share news about #{current_user.network.name}", :class => "post_textarea", :required => "required"  %>
  </div>
  <div class="actions">
    <%= f.submit "Update", :class =>"form_button", :style => "margin-left:380px;", :id=>"news_update_button" %>
  </div>
  <hr color="#cccccc"/>
<% end %>
