<h3 class="page_title">News Stream</h3>

<table>
<tr><td><%= render 'form_new' %></td></tr>
  <tr>
    <td>
<% if @posts.count > 0 %>
<% @posts.each do |post| %>
  <%= render :partial => "post", :locals => { :post => post } %>
<% end %>
<% else %>
  <div id="news">
    <%= image_tag "photo_place_holder.png", :alt => 'Caregaroo' , :height => "50", :width => "50", :style => "float:left;padding-right:5px" %>
    <div class="comment_content">
    <span class="name_text">Caregaroo</span>
    <br/>
    Welcome to Caregaroo! Invite others in your circle of care to join the network. <%= link_to "Invite", invite_path, :class => "orange_text" %><br/>
    <div class="clear"></div>
  </div>
  </div>
<% end %>
   </td>
  </tr>
</table>

<script type="text/javascript">
$(document).ready(function(){
  $('#container .post_content_area a.expand').click(function(ev){
    ev.preventDefault();
    $.get( $(this).attr('href')+'.js');
    return false
  })
  $('li.recipient_list_handle').hover(
  function(ev){ // in
    var jthis = $(ev.currentTarget)
    if(jthis.data('timeout')){
      clearTimeout(jthis.data('timeout'))
    }
    $(ev.currentTarget).find('.recipients_drop_down:hidden').slideDown()
  }, function(ev){ //out
    var jthis = $(ev.currentTarget)
    jthis.data('timeout', setTimeout(function(){
      jthis.find('.recipients_drop_down').slideUp()
    },1200))
  }).click(function(ev){
    $(ev.currentTarget).find('.recipients_drop_down').slideDown()
    setTimeout(function(){
      $(ev.currentTarget).find('.recipients_drop_down').slideUp()
    },5000)
  })
})
</script>
