@import "compass";
@import "compass/reset";
@import "fancy-buttons";
@import "app/invitation";
@import "app/login";
@import "app/members";
@import "app/news";
@import "app/password";
@import "app/profile";
@import "app/register";
@import "app/scaffolds";
@import "app/signup";

/* GENERAL TEXT STYLES */
body{font:18px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;  color: #414042;}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:48px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin:0px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin:0px; padding:0px}
/* HELPER CLASSES */

body {  background: url('bg_pattern.png'); }
h3{ color: #414042; font-size:21px; font-weight: 700; margin-bottom:20px; }
h3.page_title{margin-bottom:0px;color: #14377d;}
p, ol, ul, td { font-size: 13px; line-height: 18px; }
pre {  background-color: #eee;  padding: 10px; font-size: 11px; }
a img {  border: none; outline: none;}
a { color: #414042; outline: none; }
a:link { text-decoration:none;}
a:focus { outline: none; }
a:visited{}//removed color for now
a:hover { color: #14377d; }
input::-moz-focus-inner { border: 0; }
input.blur { color: #999; }
textarea.blur { color: #999; }
textarea { resize: none; }
.clear { clear: both; height: 0; overflow: hidden; }
input {background:#ebebeb; border:solid 1px #ccc;}
#header_frame {	width:1024px; display:block; color:#414042; margin:auto; }
#top_nav_logo { float:left; height: 88px; width: 200px; margin-left:40px;	}
#top_nav_msg_icon{float:left;margin:40px 0 0 0; width:20px;height:20px; background:url('icons.png') no-repeat -166px -1px;}
#user_selector { margin: 47px 0 0 0; float:right; display:inline; }
#user_icon { float:left; background:url('photo_place_holder.png') no-repeat; background-size: 34px 30px; margin: -6px 6px 0 0; height:30px; width:34px; }
#top_nav_separator { position:absolute;  margin:77px 0 0 0; width:1024px;	border: 1px solid #CCCCCC; z-index:-1; }
#main_frame { width:1024px; margin:auto; clear:both; }
#user_nav{	float:left;	width: 220px;	padding: 10px 10px;	margin-top: -11px;	position:absolute;}
#CoC_frame{	width:170px;	margin: 16px 0 10px 50px;	padding: 0px;}
#CoC_pic{float:left;}
#CoC_right{width:110px;float:right;}
#CoC_name{padding:0 4px; float:left; margin-bottom:10px;}
#nav_list_frame{position:relative;}
#nav_list_header, #member_list_header{font-weight:normal;margin-bottom:6px;margin-left:50px;}
#nav_list{margin:0px;}
#nav_list li{height:22px; list-style:none;margin-left:-10px; margin-bottom:4px;width:241px; padding-top:5px;}
#nav_list li.current{height:21px; font-weight:bold; background-color:#fff;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc; width:240px; padding-top:4px; border-left:1px solid #ccc }
.nav_list_icon{width:24px; height:20px; float:left;  margin:0 6px 0 60px;}
.nav_list_icon_current{width:24px; height:20px; float:left;  margin:0 6px 0 59px;}
#nav_msg_board{background:url('icons2.png') no-repeat -7px -1px;}
.nav_wrapper:hover #nav_msg_board{background:url('icons2.png') no-repeat -7px -21px;}
#nav_network_info{background:url('icons2.png') no-repeat -7px -46px;}
.nav_wrapper:hover #nav_network_info{background:url('icons2.png') no-repeat -28px -46px;}
#nav_invite{background:url('inviteIcon.png') no-repeat -4px -1px;}
.nav_wrapper:hover #nav_invite{background:url('inviteIcon.png') no-repeat -4px -20px;}
#nav_calendar{background:url('icons2.png') no-repeat -32px -1px;}
.nav_wrapper:hover #nav_calendar{background:url('icons2.png') no-repeat -32px -21px;}
/*#nav_calendar{background:url('icons.png') no-repeat -1px -18px;}
#nav_private_msg{background:url('icons.png') no-repeat -162px -1px;}
#nav_my_profile{background:url('icons.png') no-repeat 4px 3px;}
#nav_members{background:url('icons.png') no-repeat -101px 3px;}
*/
#member_list{margin:0px;}
#member_list li{height:22px;width:241px;list-style:none;margin-left:-10px; margin-bottom:10px; padding-top:5px;}
#member_list li.current{height:21px; background-color:#fff;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc; width:240px; padding-top:4px; border-left:1px solid #ccc }
.member_pic{height:30px; width:33px; float:left; margin:-8px 6px 0 60px;}
.member_pic_current{height:30px; width:33px; float:left; margin:-8px 6px 0 59px;}
.all_members_link{float:left;margin:0px 6px 0 98px}
.all_members_link_current{float:left;margin:0px 6px 0 97px}
#container { z-index:-2;position:relative; left:240px;float:left; width: 482px; background-color: #FFF; padding: 20px 20px; border-left: solid 1px #CCCCCC; border-right: solid 1px #CCCCCC;  margin-top: -11px; }
#container_nonav {z-index:-2;position:relative; float:left; width: 800px;  padding: 0px 20px; margin-left:112px; margin-top:-11px;}
#shortcuts { position:relative;float:right; width: 220px;	padding: 20px 20px; margin-top:-11px;}
.shortcut_icon {float:left;width:20px; height:20px; margin:0 4px 0 0; background:url('icons.png') no-repeat -48px -18px;}
#invite_shortcut, #help_shortcut, #questions_shortcut { cursor: pointer; }
#invite_shortcut_icon{height:96px; width:129px; display:block; padding:10px 0 5px;}
#contact_shortcut_icon{height:96px; width:129px; display:block; padding:20px 0 5px;}
#questions_shortcut_icon{height:70px; width:220px; display:block; padding:20px 0 0;}
#flash_notice, #flash_error, #flash_alert { padding: 2px 8px; margin: 10px 0; }
#flash_notice { background-color: #DFF0D8; border: solid 1px #D6E9C6; color: #468847;}
#flash_error, #flash_alert { background-color: #F2DEDE; color: #B94A48; border: solid 1px #EED3D7}
form label { display: block; margin-bottom: 2px; }
form .field, form .actions { margin: 12px 0;}
.fieldWithErrors { display: inline; }
.error_messages { width: 350px; padding: 5px; margin-bottom: 20px; background-color: #F2DEDE; font-size: 12px; color: #B94A48; border: solid 1px #EED3D7}
.error_messages h2 { display:none; text-align: left; font-weight: bold; padding: 5px 10px; font-size: 12px; margin: 0; background-color: #c00; color: #B94A48;}
.error_messages p { margin: 8px 10px;}
.error_messages ul { margin: 3px 0 3px 20px;}
.form_button {
  @include fancy-button(#F47D29, 12px)
}
.form_button:hover {color:#14377d;}
.form_button_disabled{ color: #ffffff; background-color: #aaaaaa; padding: 2px 12px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; font-size: 12px;  font-weight: bold;  text-decoration: none; line-height: 21px;font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.orange_button_link{color: #fff; background-color: #F47D29; padding: 3px 12px 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; font-size: 12px;  font-weight: bold;  text-decoration: none; line-height: 21px;font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.grey_button_link{color: #ffffff; background-color: #aaaaaa; padding: 3px 12px 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; font-size: 12px;  font-weight: bold;  text-decoration: none; line-height: 21px;font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.orange_text{ color:#f47d29;}
.orange_text:hover{color:#14377d;}
.name_text{ color: #14377d;  font-size:14px;  font-weight:700;}
.time_text{ font-weight:normal;  font-size:11px;  color:#666666;}
.page_desc { padding-top:10px; }

/* top-nav user name drop down */
#user_dropdown {margin-bottom:0px;}
.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt a:hover { color:#5d4617; border-bottom: 1px solid #d0c9af;}
.dropdown dt a { display:block; padding-right:20px; padding-left:20px; border-bottom:1px solid #d4ca9a; }
.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { background:#fff none repeat scroll 0 0; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:2px solid #ccc; color:#000; display:none; padding:5px 0px; position:absolute; top:-1px;  right:20px; width:auto; min-width:150px; list-style:none; z-index:100; }
.dropdown span.value { display:none;}
.dropdown dd ul li { margin:0; padding:0; }
.dropdown dd ul li a { padding:5px; display:block;}
.dropdown dd ul li a:hover { background-color:#ebebeb; color:#1d377d;}
.dt_icon {margin-top:-20px; padding-right:5px;}
.dt_arrow{background:url('icons2.png') no-repeat -145px -26px;width:14px; height:8px; float:right;margin-top:14px; margin-left:6px;}
.dropdown dt a:hover .dt_arrow{background:url('icons2.png') no-repeat -159px -26px;width:14px; height:8px;  float:right;margin-top:14px; margin-left:6px;}
.dt_arrow_bg{display:none; background-color:#fff;width:22px; height:26px; margin-top:-6px; margin-left:-4px; position:relative; z-index:-99; }

#purr-container { position: fixed; top: 0; right: 0; }
.notice { position: relative; width: 324px;}
.notice .close  {position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(/purr/purrClose.png) no-repeat 0 10px;}
.notice-body { min-height: 50px; padding: 22px 22px 0 22px; background: url(/purr/purrTop.png) no-repeat left top; color: #f9f9f9; }
.notice-body img  {width: 50px; margin: 0 10px 0 0; float: left; }
.notice-body h3 { margin: 0; font-size: 1.1em; }
.notice-body p    {margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}
.notice-bottom { height: 22px; background: url(/purr/purrBottom.png) no-repeat left top; }

/* @group Events */

.create_new_button {
  margin: 0 0 22px 0;
}
tr.events_list_row {
  line-height: 14px;
  vertical-align: text-top;
}

td.event_list_date {
  font-weight: bold;
  border-top: 1px solid #9aafe5;
}
td.event_name {
  font-weight: bold;
}

//not needed if bootstrap.css is included
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-remove {
  background-position: -312px 0;
}

.event_top_bar {
  float:right;
}

ul#event_comments {
  margin-left: 25px;
  list-style-type: none;
}
/* @end */

