/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap
*/

.bg {  background-color:#EAEAEA;
	background:-webkit-gradient(linear,left top,left bottom,from(#FCFCFC),to(#EAEAEA));
	background:-moz-linear-gradient(top,#FCFCFC,#EAEAEA);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC',endColorstr='#EAEAEA');
	border-bottom:1px solid #CCC; 
}
#site_logo{  background: url('ADAPTEDMarketingPageSlices.png') no-repeat; width:145px; height:80px; margin-top:0px;}
#mkt_top_nav{padding-top:60px;padding-bottom:60px;}
#calendar_img{background:url('ADAPTEDMarketingPageSlices.png') no-repeat 0px -90px; width:170px; height:140px;}
#news_img{background:url('ADAPTEDMarketingPageSlices.png') no-repeat -170px -80px; width:130px; height:140px;}
#email_img{background:url('ADAPTEDMarketingPageSlices.png') no-repeat -300px -90px; width:240px; height:140px;}
.intro { color:#14377D; font-size:22px; line-height:110% }
.title { color:#14377D; font-size:22px; line-height:110%; font-weight:bold; }
.blueFont { color:#14377D; font-weight:bold }
.quick-links {
    list-style: none outside none;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
}
.quick-links:first-child {
    min-height: 0;
}
.quick-links li {
    color: #999999;
    display: inline;
    margin: 0 8px;
}
.quick-links .github-btn, .quick-links .tweet-btn, .quick-links .follow-btn {
    position: relative;
    top: 5px;
}
