<div id="register_success_box" >
	<br/>
	<center><h3 class="page_title">Email sent with password reset instructions.</h3></center>
	<br/>
	<%= link_to "Back to Home", news_path, :id=>"register_success_btn",:class=>"orange_button_link" %>

</div>