<p>
<%= link_to "Basic", profile_path %>
<%= link_to "Profile", info_profile_path %>
<%= link_to "Password", password_profile_path %>
<%= link_to "Notifications", notifications_profile_path %>
</p>


