<div><%= render 'sub_nav' %></div>

<%= form_for @current_user, :url => update_password_profile_path, :method => :post, :html => { :id => 'basic_form' } do |f| %>
  <%= render "shared/error_messages", :target => @current_user %>

  <div class="field">
	<input type="checkbox" value="1"> I receive news updated, replies or private messages
  </div>
  <div class="actions">
    <%= f.submit "Update Notifications" %>
  </div>
<% end %>

