<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>Caregaroo</title>
        <%= stylesheet_link_tag "mobile/jqtouch", "mobile/themes/apple/theme", "mobile/jqt.calendar" %>
    		<%= javascript_include_tag "mobile.zepto" %>
        <%= stylesheet_link_tag "mobile/styles" %>
       
    </head>
    <body>
      <%= yield %>
    </body>
</html>