<!DOCTYPE HTML>
<html lang="en"> 

	<head>
		<meta charset="utf-8">
		<meta name="robots" content="noindex,nofollow" /> 

		<title>yeah</title> 

		<%= stylesheet_link_tag "landing" %>
		<%= javascript_include_tag "landing" %>
		<%= csrf_meta_tag %>
	</head>

	<body class="">
		<%= yield %>
	</body>

</html>