<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>Caregaroo</title>
        <%= stylesheet_link_tag "mobile/jqtouch", "mobile/themes/apple/theme", "mobile/jqt.calendar" %>
    		<%= javascript_include_tag "mobile" %>
        <%= stylesheet_link_tag "mobile/styles" %>
       
    </head>
    <body>
        <div id="jqt">
            <div id="journal">
              <h1> Journal Page Stub</h1>  
            </div>
            <div id="calendar" class="current">
                <div>
                  <ul id="gc-nav">
                    <li><a href="#journal">Journal</a></li>
                    <li><a href="#calendar">Calendar</a></li>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#members">Members</a></li>
                  </ul>
                </div>
                <div id="calendardisplay" class="above-bottom-tabbar">
                  <ul>
                    <li><time datetime="2012-06-26T07:30Z">Dr. Bartlett Visit</time></li>
                    <li><time datetime="2012-06-26T12:30Z">Lunch with Jane</time></li>
                    <li><time datetime="2012-06-26T13:30Z">Walk</time></li>
                    <li><time datetime="2012-06-26T14:30Z">Walk</time></li>
                    <li><time datetime="2012-06-26T15:30Z">Walk</time></li>
                    <li><time datetime="2012-06-26T16:30Z">Walk</time></li>
                    <li><time datetime="2012-06-26T17:30Z">Walk</time></li>
                  </ul>
                </div>
            </div>
            <div id="profile">
              <h1> Profile Page Stub</h1>  
            </div>
            <div id="members">
              <h1> Members Page Stub</h1>  
            </div>
        </div>
        <div id="other">
            <div class="tabbar">
                <ul>
                    <li class="four"><a href="#journal">Journal</a></li>
                    <li class="four current"><a href="#calendar">Calendar</a></li>
                    <li class="four"><a href="#profile">Profile</a></li>
                    <li class="four"><a href="#members">Members</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>